
.signUp_container {
       
      border: 0px solid white;
      width: 500px;
      max-height: 100vh;
      padding: 30px;
      display: flex;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.208);
      border-radius: 8px;
      filter: drop-shadow(0px 0px 3px);
}

.signUp_container h3 {
      text-align: center;
      filter: drop-shadow(0px 0px 1px black);
      letter-spacing: 1px;
      color: white;
}

.signUp_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;  
}
.signUp_text{
      margin-left: 20px;
      margin-top: 8px;
      font-weight: 600; 
      color: azure; 
}
 
.signUp_text a {
      text-decoration: none;
      color: rgb(17, 17, 18);
      cursor: pointer;
      
}
.signUp_text a:hover{
      color: black;
} 
 